.corner {
    position: absolute;
    left: 16px;
    top: 12px;
}

.hidden {
    display: none;
}

#widget {
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
    color: #fff;
}

svg {
    fill: #fff;
    filter: drop-shadow(1px 1px 2px #000);
}

#widget span {
    vertical-align: middle;
}

#widget svg {
    fill: #aaa;
    vertical-align: middle;
    margin-right: 10px;
}

#widget .grey {
    color: #aaa;
}
