@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#popup-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 16px;
}

.popup {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 80px auto;
    align-items: center;
    box-shadow: 0px 0px 8px #00000033;
    background-image: linear-gradient(90deg, var(--primary-background), var(--secondary-background));
    padding: 8px 16px;
    margin-bottom: 16px;
    transition: opacity 0.4s;
    animation: fade-in 0.4s;
}

.popup.fade-out {
    opacity: 0;
}

.popup img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.popup p.title {
    font-size: 18px;
    margin-bottom: 6px;
    color: #fff;
    font-weight: 500;
}

.popup p {
    font-size: 15px;
    color: #ddd;
    font-weight: 300;
}

.popup strong {
    font-weight: 500;
}
