body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(200deg,
            var(--primary-background),
            var(--secondary-background));
    z-index: -10;
}

.titlebar {
    height: 28px;
}

.titlebar button {
    float: right;
    width: 32px;
    height: 28px;
    transition: background-color 0.1s;
    cursor: default;
}

.titlebar button svg {
    padding: 4px 6px;
    fill: #aaa;
    transition: fill 0.1s;
}

.titlebar button#exit-button:hover {
    background-color: var(--primary-highlight);
}

.titlebar button#minimize-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.titlebar button:hover svg {
    fill: #fff;
}

#content {
    flex: 1;
    overflow-y: auto;
}
